<div class="fill-box">
    <h3 class="title">Fill Word</h3>
    <div class="time-bar">
        {{second}}
    </div>
    <div class="vocab">
        <p *ngFor="let item of question.q">
            {{item}}
        </p>
    </div>
    <p class="mean">Nghĩa: {{curWord.mean}}</p>
    <div class="keyboard">
        <div 
            class="keyboard-item" 
            *ngFor="let item of question.keyboard"
            (click)="handleClickKeyItem(item, $event)"
            id="{{item}}"
            #useThisTemplateVar
        >
            {{item}}
        </div>
    </div>
    <div *ngIf="checkCorrect===true" class="correct">
        <i class="fas fa-check"></i>
        Chính xác
    </div>
    <app-fill-modal 
        [stateModal]="stateModal" 
        [isFinished]="isFinished"
        (receiveStateModal)="receiveStateModal($event)"
        (receiveStatePlay)="receiveStatePlay($event)"
        [totalCorrect]="totalCorrect"
        [totalWorld]="totalWorld"
        [idCategory]="idCategory"
    >
    </app-fill-modal>
</div>