.fill-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.title{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 600;
}
.time-bar{
    background: white;
    width: 500px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.time-bar input{
    width: 100%;
    border: none;
    outline: none;
}
.vocab{
    display: flex;
    margin: 20px 0 0 0;
}
.vocab p{
    font-size: 3.5rem;
    color: #4e4cac;
}
.mean{
    font-size: 1.2rem;
    font-weight: 200;
    margin-bottom: 30px;
}
.keyboard{
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.keyboard-item{
    flex: 1;
    background: #4e4cac;
    margin: 5px;
    padding: 10px;
    text-align: center;
    min-width: 100px;
    max-width: 100px;
    color: white;
    font-size: 1.6rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s;
}
.keyboard-item:hover{
    background: #6c95ea;
}
.keyboard-item.selected{
    background: grey;
}
.correct{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #2a852a;
}
.correct i{
    color: #3bd23b;
    font-size: 3rem;
}