<div class="flash-card">
    <h3>flash card</h3>
    <div class="flash-card-main">
        <div class="icon">
            <i class="fas fa-undo-alt" (click)="handleRandomCard()"></i>
        </div>
        <div class="flash-card-top">
            <select (change)="handleChangeState($event)">
                <option [selected]="state==='all'" value="all">Tất cả</option>
                <option [selected]="state==='remember'" value="remember">Đã nhớ</option>
                <option [selected]="state==='unremember'" value="unremember">Chưa nhớ</option>
            </select>
        </div>
        <div class="flash-card-container">
            <div *ngIf="filterData.length>0" class="flash-card-box" [style.transform]="'translate('+moveWidth+'px)'">
                <div class="carousel-item" *ngFor="let item of filterData; let i=index">
                    <div class="carousel-count" id="{{item.id}}">
                        {{i+1}}/{{filterData.length}}
                        <span>từ</span>
                    </div>
                    <p>{{item.name}}</p>
                </div>
            </div>
            <div *ngIf="filterData.length===0">
                <div class="carousel-item">
                    <div class="carousel-count" id="null">
                        0/0
                        <span>từ</span>
                    </div>
                    <p>Không có dữ liệu</p>
                </div>
            </div>
            <a class="prev" (click)="prevSlide(-1)">&#10094;</a>
            <a class="next" (click)="nextSlide(1)">&#10095;</a>
        </div>
        <div class="flash-card-btn">
            <button>
                <i class="fas fa-check tick" (click)="handleRemember()"></i>
                Đã nhớ
            </button>
            <button>
                <i class="fas fa-times untick" (click)="handleUnRemember()"></i>
                Chưa nhớ
            </button>
        </div>
    </div>

</div>