.flash-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.flash-card h3{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 500;
}
.flash-card-container{
    display: flex;
    width: 700px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.carousel-item{
    min-width: 700px;
    max-width: 700px;
    min-height: 400px;
    max-height: 400px;
    background: white;
    border-radius: 20px;
    padding: 15px;
    position: relative;
}
.carousel-count{
    font-size: 1.3rem;
    font-weight: 500;
}
.carousel-item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 100;
}
.carousel-count span{
    color: red;
}
.carousel-card{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    cursor: pointer;
}
.carousel-front{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 9px;
    transition: .2s;
    z-index: 2;
}
.carousel-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4e4cac;
    border-radius: 9px;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    transform: rotateY(-180deg);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.carousel-back p{
    font-size:2.5rem;
    width: 89%;
    text-align: center;
}
.carousel-card.active div:nth-child(1){
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
}
.carousel-card.active div:nth-child(2){
    transform: rotateY(0deg);
    opacity: 1;
    visibility: visible;
}

select{
    margin: 15px 0;
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}
.flash-card-main{
    position: relative;
}
.flash-card-btn button{
    padding: 10px;
    border: none;
    background: none;
    font-family: inherit;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flash-card-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flash-card-btn i{
    font-size: 1.7rem;
    padding-right: 20px;
    background: #d8d7ff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
    transition: all .2s;
}
.tick{
    color: green;
}
.tick:hover{
    background: white !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.untick:hover{
    background: white !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.untick{
    color: red;
}
.next, .prev{
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    font-size: 2rem;
    background: #c3c3c3;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.next{
    right: 0;
}
.hidden{
    display: none;
}
.active{
    display: flex;
}
.icon{
    position: absolute;
    top: 5%;
    right: -10%;
    display: flex;
    flex-direction: column;
}
.icon i{
    background: white;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s;
}
.icon i:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.flash-card-box{
    display: flex;
    width: 700px;
    height: 400px;
    position: relative;
    transition: all .2s;
}
.remember{
    color: #29f729;
    background: #109610 !important;
}