<div class="header">
    <p>
        Giới tính
        <button (click)="handleFilterMale()">Nam</button>
        <button (click)="handleFilterFemale()">Nữ</button>
    </p>
    <div class="header-btn-group">
        <button (click)="handleOpenModal()">Thêm</button>
    </div>
</div>
<table>
    <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Quê quán</th>
        <th>Giới tính</th>
        <th>Tác vụ</th>
    </tr>
    <tr *ngFor="let people of data; let i = index" 
    [ngClass]="people.sex===check ? 'color' : 'reverse-color'">
        <td>{{i+1}}</td>
        <td>{{people.name}}</td>
        <td>{{people.country}}</td>
        <td *ngIf="people.sex==='Male'">Nam</td>
        <td *ngIf="people.sex!=='Male'">Nữ</td>
        <td>
            <i class="fas fa-trash" (click)="handleRemoveItem(i)"></i>
            <i class="fas fa-edit" (click)="handleEditItem(i)"></i>
        </td>
    </tr>
</table>
