table{
    width:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table tr{
    grid-template-columns: 5% 30% 30% 20% 15%;
    display: grid;
    border-bottom: 1px solid white;
}
table tr:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
table tr:first-child{
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}
table td, table th {
    padding: 8px;
}
table td i{
    cursor: pointer;
    margin: 0 10px;
}
table td a{
    text-decoration: none;
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 15px;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #ec7b69;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}
.header-btn-group{
    display: flex;
    align-items: center;
}
.header-btn-group button,
p button{
    width: 70px;
    margin-left: 10px;
    padding: 0;
    height: 35px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
}
.color{
    background-color:#8a8aff;
}
.reverse-color{
    background-color:#e6e6e6;
}