.task3-item{
    background: white;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    min-width: 200px;
    margin-bottom: 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: all .2s;
    font-size: 1.1rem;
    font-weight: 100;
    margin-right: 20px;
}
.task3-item:hover{
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    background: #6c95ea;
    color: white;
}
.task3-item:hover span{
    color: white;
    border-color: white;
}
.task3-item span{
    margin-right: 10px;
    display: block;
    border: 2px solid #3367d6;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    color: #3367d6;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}