
.task3{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 0% 80%;
    justify-content: space-between;
    background: #f8f9fa;
    height: 100vh;
}
.task3-folder{
    margin: 10px 10px 0 10px;
    position: relative;
    color: white;
    overflow: hidden;
}
.task3-folder p{
    padding: 10px;
    background: #6c95ea;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    position: absolute;
    width: 71%;
    height: 75px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 6px solid #f8f9fa;
}
.task3-folder ul{
    margin-top: 40px;
    padding-top: 50px;
    background: #4e4cac;
    border-radius: 20px;
    height: 91vh;
}
.task3-folder ul li{
    list-style: none;
    margin-top: 5px;
    cursor: pointer;
    display: block;
    transition: all .2s;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.task3-folder ul li a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 15px;
    color: #b0afff;
}
.task3-folder ul li a i{
    margin-right: 10px;
    font-size: 1.5rem;
    color: #b0afff;
}
.task3-folder ul li a:hover{
    background: #6c95ea;
    border-radius: 10px;
    color: white;
}
.task3-folder ul li a:hover i{
    color: white;
}
.is-active{
    background: #6c95ea;
    border-radius: 10px;
    color: white !important;
}
.is-active i{
    color: white !important;
}
.task3-note{
    flex: 4;
}