<div class="task3">
    <div class="task3-folder">
        <p>Tên danh mục</p>
        <ul>
            <li><i class="far fa-folder"></i>Folder 1</li>
            <li><i class="far fa-folder"></i>Folder 2</li>
            <li><i class="far fa-folder"></i>Folder 3</li>
            <li><i class="far fa-folder"></i>Folder 4</li>
        </ul>
    </div>
    <div class="task3-right">
        <div class="task3-button">
            <button>Flash Card</button>
            <button>Fill</button>
        </div>
        <div class="task3-content">
            <div class="task3-item">
                <span>W</span>
                <p>Item 1</p>
            </div>
            <div class="task3-item">
                <span>W</span>
                <p>Item 1</p>
            </div>
            <div class="task3-item">
                <span>W</span>
                <p>Item 1</p>
            </div>
            <div class="task3-item">
                <span>W</span>
                <p>Item 1</p>
            </div>
            <div class="task3-item">
                <span>W</span>
                <p>Item 1</p>
            </div>
            <div class="task3-item">
                <span>W</span>
                <p>Item 1</p>
            </div>
        </div>
    </div>
</div>
