
.task3{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 0% 80%;
    justify-content: space-between;
    background: #f8f9fa;
}
.task3-folder{
    margin-right: 20px;
    background: #3367d6;
    color: white;
    height: 100vh;
    overflow: hidden;
}
.task3-folder p{
    padding: 10px;
    background: #6c95ea;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 600;
    font-size: 1.2rem;
}
.task3-folder ul{
    margin-top: 20px;
}
.task3-folder ul li{
    list-style: none;
    margin-top: 5px;
    cursor: pointer;
    display: block;
    transition: all .2s;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.task3-folder ul li a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 8px 12px;
    color: white;
}
.task3-folder ul li a i{
    margin-right: 10px;
    font-size: 1.2rem;
}
.task3-folder ul li a:hover{
    background: #6c95ea;
    border-radius: 7px;
}
.task3-note{
    flex: 4;
}