<div class="task3">
    <div class="task3-folder">
        <p>{{title}}</p>
        <ul>
            <li *ngFor="let item of ctg">
                <a 
                    routerLink="/task3/{{item.categoryId}}" 
                    (click)="handleCloseModal(item.categoryName)"
                    routerLinkActive="is-active"
                >
                    <i class="far fa-folder"></i>{{item.categoryName}}
                </a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
    <app-modal [isModalOpen]="isModalOpen" (receiveStateModal)="receiveStateModal($event)"></app-modal>
</div>