<div class="task4">
    <div class="task4-menu">
        <div class="menu-box">
            <div class="logo">Logo</div>
            <ul class="menu-main">
                <li>
                    <div class="li-top">
                        <i class="fas fa-home-alt"></i>
                        <p>home</p>
                    </div>
                    <ul class="sub-menu">
                        <li>Jpop</li>
                        <li>Anime</li>
                    </ul>
                </li>
                <li>
                    <div class="li-top">
                        <i class="far fa-chart-bar"></i>
                        <p>voice chart</p>
                    </div>
                </li>
                <li>
                    <div class="li-top">
                        <i class="far fa-heart"></i>
                        <p>yêu thích nhất</p> 
                    </div>
                </li>
                <li>
                    <div class="li-top">
                        <i class="far fa-tags"></i>
                        <p>my playlist</p>
                    </div>
                </li>
                <li>
                    <div class="li-top">
                        <i class="far fa-clock"></i>
                        <p>lịch sử</p> 
                    </div>
                </li>
                <li>
                    <div class="li-top">
                        <i class="far fa-cog"></i>
                        <p>seeting</p>
                    </div>
                </li>
                <li>
                    <div class="li-top">
                        <i class="far fa-info-circle"></i>
                        <p>about us</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="task4-main">
        <nav class="task4-header">
            <div class="header-input">
                <i class="far fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <div class="header-right">
                <button>
                    <i class="far fa-filter"></i>
                    Bộ lọc
                </button>
                <button>
                    <div class="icon">
                        <i class="fas fa-arrow-up"></i>
                    </div>
                    Gửi yêu cầu
                </button>
                <button><i class="far fa-user-circle"></i></button>
            </div>
        </nav>
        <app-banner></app-banner>
        <app-tab></app-tab>
    </div>
</div>