.task4{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    overflow: hidden;
    position: relative;
}
.task4-menu{
    background: #121212;
    color: #bac0cd;
    height: 100%;
}
.task4-main{
    background: #181818;
    color: #bac0cd;
    position: relative;
    padding-top: 70px;
}
.logo{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.menu-main{
    margin-top: 20px;
    padding-left: 30px;
}
.menu-main li{
    list-style: none;
    cursor: pointer;
    padding: 8px 0px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.li-top{
    display: flex;
}
.menu-main li i{
    margin-right: 10px;
    font-size: 1.2rem;
}
.menu-main li:hover .li-top p{
    font-weight: 700;
    color: white;
}
.menu-main li:hover .li-top i{
    color: #f95043;
}
.menu-main li:hover .sub-menu{
    display: block;
}
.sub-menu{
    display: none;
    margin-left: 50px;
}
.sub-menu li:hover{
    color: white;
    font-weight: 700;
}
.task4-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 15%;
    width: 85%;
    background: #181818;
    z-index: 99999;
}
.header-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-input i{
    font-size: 1.6rem;
    color: #b4b4b4;
}
.header-input input{
    outline: none;
    border: none;
    font-family: inherit;
    padding: 5px 10px;
    background: no-repeat;
    color: white;
    font-size: 1rem;
}
.header-right{
    outline: none;
    border: none;
    display: flex;
}
.header-right button{
    outline: none;
    border: none;
    display: flex;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
}
.header-right button:last-child{
    margin-right: 0px;
    background: none;
    color: #929292;
    padding: 0;
    display: flex;
    align-items: center;
}
.header-right button:last-child img{
    width: 30px;
    height: 30px;
}
.header-right button:first-child{
    background: none;
    color: #929292;
    font-size: 1rem;
    font-weight: 600;
}
.header-right button:first-child i{
    margin-right: 5px;
}
.header-right button:nth-child(2){
    background: #f95043;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0 15px;
}
.icon{
    width: 20px;
    height: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}
.icon i{
    color: #f95043;
    font-size: 0.6rem;
}
.menu-box{
    position: fixed;
    width: 15%;
}
.popular-box{
    margin-left: 50px;
    margin-top: 30px;
}
.popular-box h4{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.popular-items{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.popular-item{
    background: #1c1b1b;
    padding: 15px;
    margin-right: 20px;
    width: 133px;
    text-align: center;
    border-radius: 35px;
    margin-bottom: 15px;
    color: #e6e6e6;
    font-size: 1.2rem;
    font-weight: 500;
}
