<div class="user-detail">
    <div *ngIf="text===null" class="user-detail-box">
        <h3>Thông tin chi tiết</h3>
        <p>Tên : {{userDetail.name}}</p>
        <p>Quê quán : {{userDetail.country}}</p>
        <p *ngIf="userDetail.sex==='Male'">Giới tính : Nam</p>
        <p *ngIf="userDetail.sex==='Female'">Giới tính : Nữ</p>
    </div>
    <div *ngIf="text!==null" class="user-detail-box">
        <h3>Thông tin chi tiết</h3>
        <p>{{text}}</p>
    </div>
    <div class="user-detail-column">
        <ul>
            <li *ngFor="let user of checkData">
                <a routerLink="/task1/{{user.id}}">{{user.name}}</a>
            </li>
        </ul>
    </div>
</div>