<div class="items">
    <h4>Nghệ sĩ</h4>
    <div class="items-box">
        <div class="item">
            <div class="item-img">
                <img src="https://vcdn-giaitri.vnecdn.net/2021/08/09/Billie-Eilish-Happier-2911-1628481422.jpg">
            </div>
            <div class="item-content">
                <h5>Billie Eilish</h5>
                <p>Pop Music</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="https://vcdn-giaitri.vnecdn.net/2021/08/09/Billie-Eilish-Happier-2911-1628481422.jpg">
            </div>
            <div class="item-content">
                <h5>Billie Eilish</h5>
                <p>Pop Music</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="https://vcdn-giaitri.vnecdn.net/2021/08/09/Billie-Eilish-Happier-2911-1628481422.jpg">
            </div>
            <div class="item-content">
                <h5>Billie Eilish</h5>
                <p>Pop Music</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="https://vcdn-giaitri.vnecdn.net/2021/08/09/Billie-Eilish-Happier-2911-1628481422.jpg">
            </div>
            <div class="item-content">
                <h5>Billie Eilish</h5>
                <p>Pop Music</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="https://vcdn-giaitri.vnecdn.net/2021/08/09/Billie-Eilish-Happier-2911-1628481422.jpg">
            </div>
            <div class="item-content">
                <h5>Billie Eilish</h5>
                <p>Pop Music</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="https://vcdn-giaitri.vnecdn.net/2021/08/09/Billie-Eilish-Happier-2911-1628481422.jpg">
            </div>
            <div class="item-content">
                <h5>Billie Eilish</h5>
                <p>Pop Music</p>
            </div>
        </div>

    </div>
</div>
