<div class="items">
    <div class="items-top">
        <h4>{{this.name}}</h4>
        <div class="items-button" *ngIf="type!=='artist'">
            <button [class.active]="left==true" (click)="prevSlide(-1)">&#10094;</button>
            <button [class.active]="right==true" (click)="nextSlide(1)">&#10095;</button>
        </div>
    </div>
    <div class="items-box" *ngIf="type==='artist'">
        <app-item-circle *ngFor="let item of data"></app-item-circle>

    </div>
    <div class="items-box" *ngIf="type==='album'" [style.transform]="'translate('+moveWidth+'px)'" #myIdentifier>
        <app-item-square class="carousel-item" *ngFor="let item of data"></app-item-square>
    </div>
    <div class="items-box" *ngIf="type==='recommend'" [style.transform]="'translate('+moveWidth+'px)'" #myIdentifier>
        <app-item-big-square class="carousel-item" *ngFor="let item of data"></app-item-big-square>
    </div>
    <div class="items-box" *ngIf="type==='lastest'" [style.transform]="'translate('+moveWidth+'px)'" #myIdentifier>
        <app-item-big-square class="carousel-item" *ngFor="let item of data"></app-item-big-square>
    </div>
</div>