<div class="task2">
    <h1>thời gian biểu</h1>
    <div class="task2-btn-group">
        <button (click)="handleOpenModal()">Thêm</button>
        <select (change)="handleChangeType($event)">
            <option value="all">Tất cả</option>
            <option value="finish">Đã hoàn thành</option>
            <option value="unfinish">Chưa hoàn thành</option>
        </select>
    </div>
    <table>
        <tr>
            <th>STT</th>
            <th>Tên Công việc</th>
            <th>Thời gian</th>
            <th>Trạng thái</th>
            <th>Tác vụ</th>
        </tr>
        <tr *ngFor="let item of filterData; let i=index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.time}}</td>
            <td>
                <input type="checkbox" [checked]="item.state">
            </td>
            <td class="row-btn">
                <button>Sửa</button>
                <button (click)="handleDeleteItem(item.id)">Xoá</button>
            </td>
        </tr>
    </table>
    <app-add-modal-task2 
    [isModalOpen]="isModalOpen"  
    (receiveStateModal)="receiveStateModal($event)"
    [data]="data"
    (receiveNewData)="receiveNewData($event)"
    ></app-add-modal-task2>
    <app-remove-modal-task2
    [isModalRemoveOpen]="isModalRemoveOpen"
    [removeItem]="removeItem"
    (receiveStateRemoveModal)="receiveStateRemoveModal($event)"
    (receiveDeleteItem)="receiveDeleteItem($event)"
    ></app-remove-modal-task2>
</div>
