<div class="modal" [class]="isModalOpen===true?'modal active':'modal'">
    <div class="modal-header">
        <h3>Information Detail</h3>
        <i class="fas fa-times" (click)="handleCloseModal()"></i>
    </div>
    <div class="modal-content">
        <span>Name</span>
        <p>{{data.name}}</p>
    </div>
    <div class="modal-content">
        <span>Mean</span>
        <p>{{data.mean}}</p>
    </div>
    <div class="modal-content">
        <span>Type</span>
        <p>{{data.type}}</p>
    </div>

</div>