.fill-modal{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    display:none;
}
.modal-box{
    background: #4e4cac;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 15px;
}
.fill-modal.active{
    display: block;
}
.fill-modal p{
    font-size: 2rem;
}
.fill-modal button{
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 100;
    color: white;
    background: #6c95ea;
    padding: 10px 20px;
    margin-right: 15px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}